<form method="POST" action="/add">

    <div class="form-group">
        <label>Book name</label>
        <input type="text" name="bookName" class="form-control" placeholder="Book name">
    </div>

    <div class="form-group">
        <label>Year</label>
        <input type="text" name="bookYear" class="form-control" placeholder="Year">
    </div>

    <div class="form-group">
        <label>Book image (URL)</label>
        <input type="text" name="bookImage" class="form-control" placeholder="Image URL here">
    </div>

    <div class="form-group">
        <label>Book genre</label>
        <div class="row">
            <select name="bookGenre" id="lang" class="form-select selectWriter" aria-placeholder="   ">
                
                <option disabled selected value> -- Select a genre -- </option>
                
                {{#each genreA}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
                
            </select>
            <a href="/addGenre" class="btn btn-primary form-control addWriter">Add a new genre</a>
        </div>
    </div>

    <div class="form-group">
        <label>Writer</label>
        <input type="text" name="bookWriter" class="form-control" placeholder="Writer">
    </div>

    <input type="submit" value="Add the book" class="btn btn-primary form-control" placeholder="First Name">

</form>
