<h3>Add new genre</h3>

<form method="POST" action="/addGenre">

    <div class="form-group">
        <label>Genre name</label>
        <input type="text" name="genreName" class="form-control" placeholder="Genre name">
    </div>

    <input type="submit" value="Add new genre" class="btn btn-primary form-control">

</form>